@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regra global para a cor de fundo */
:root {
  background-color: #F5F5F0; /* Cor Terra */
  color: #2D2926;
}

/* Esconder a barra de rolagem */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}